@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}
*{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body{
    height: 100vh;
    background: url("background.jpg")no-repeat;
    background-size: cover;
    background-position: center;
}
#form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form{
    height: 450px;
    width: 450px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid rgba(225, 225, 225, 54%);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form h1{
    font-size: 2em;
    text-align: center;
}

.input-field{
    position: relative;
    margin: 30px 0px;
    width: 400px;
    border-bottom: white solid;
}
.input-field ion-icon{
    position: absolute;
    font-size: 1.2em;
    right: 8px;
}
.input-field label{
    position: absolute;
    font-size: .8em;
    pointer-events: none;
    top: 20%;
    left: 5px;
    transition: .5s;
}

.input-field input{
    border: none;
    outline: none;
    width: 100%;
    height: 50px;
    background: transparent;
    font-size: .7em;
    padding: 0 35px 0 5px;
}
input:focus ~ label, input:valid ~ label{
    top: -20px;
    }





.remember{
    display: flex;
    justify-content: center;
    align-items: center;
}
.remember p{
    font-size: .6em;
}
.remember p a{
    font-size: 1em;
    text-decoration: none;
}
.remember p a:hover{
    text-decoration: underline;
}
.remember p input{
    margin-right: 5px;
}

.login{
    text-align: center;
}
.login button{
    margin: 10px 0px;
    width: 350px;
    height: 50px;
    background-color: #fff;
    color: black;
    border: none;
    outline: none;
    border-radius: 50px;
    font-weight: 600;
}
.forget{
    display: flex;
    justify-content: center;
    align-items: center;
}
.forget p{
    font-size: .6em;
}
.forget p a{
    font-size: 1em;
    text-decoration: none;
}

.forget p a:hover{
    text-decoration: underline;
}